 *{
    box-sizing: border-box;
    margin: 0;

} 
body{
    overflow-x:hidden ;
}
.parent{
    background-color: tomato ;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 25%;
    grid-template-rows: 1fr 1fr 1fr 0.5fr ;
}
.flex-parent{
  background-color: white;
 display: flex;
 padding-right: 4%;
 padding-left: 4%;
 justify-content: space-around;
 align-items: center;
 grid-column-start: 1;
 grid-column-end: 3;
 grid-row-start: 1;
 grid-row-end: 2;
}
.txt {
    p{
    color: #9fa3a7;
    font-size: 12px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 15px;

    }
    h2{
        width: 70%;
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 22px;
        font-size: 25px;
        line-height: 32px;
        font-weight: 400;
    }

}
.title{
    color: #9fa3a7;
    font-size: 14px;


}
 img{
    width: 40%;
    display: inline-block;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 43px;
    align-self: flex-end; 
 }
 .child-1{
    background-color: #f7f8f9;
    grid-column-start:3 ;
    grid-column-end:5 ;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.txt-2{
    color: #9fa3a7;
    font-size: 14px;
    font-weight: 700;
 }
.heading{
    
 font-size: 30px;
 font-weight: 400;
 margin-top: 20px;
 margin-right: 10px;
 margin-left: 10px;
        
     
}
#download{
    color: #27b9c2;
}
.child-2{
    background-color: #f05638;
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.child-2 img{
    position: relative;
    left: -31px;
    width: 80%;
}
.heading-2{
    font-weight: bold;
    font-size: 22px;
    color: white;
}
.link-yellow{
    margin-top: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #ffc80a;
}

.child-3{
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 4%;
    padding-right: 4%;

}
.left{
    /* width: 50%; */
    /* max-width: 180px; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .imac{
        color: #9fa3a7;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 2px;
        margin-left: 20%;

    }
    .heading-3{
        margin-bottom: auto;
        margin-top: 10px;
        font-size: 23px;
        line-height: 33px;
        font-weight: 400;
        margin-left: 20%;
    }
    .img-2{
        position: relative;
        left: -10%;
        width: 190%;

    }
 
}

.right p{
    color: #9fa3a7;
    display: block;
    font-size: 17px;
    line-height: 20px;
    margin-left: 80px;
} 
.link{
    display: inline-block;
    margin-top: 20px;
    margin-left: 80px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    color: #27b9c2;


}

.child-4{
    background-color: #8f76bc;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;

    
    
}
.flex-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 10% 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .text-0{
        background-color:  #8468b6;
        border-radius: 30px;
        padding: 2px 30px 1px 30px ;
        font-size: 13px;
        text-align: center;
        font-weight: 400;
        letter-spacing: 2px;

        color: white;
    }
    .image{
        width: 210%;
        position: relative;
        left: 63%;

    }
    .meet{
        color: white;
        font-size: 15px;
    }
}
.child-4 h1{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 700;
}
.txt-3{
    p{
        color: white;
        font-size: 14px;
        text-align: center;
         padding: 1px 12px 1px 12px; 
    }
    .Learn{
        display:inline-block ;
        margin-top: 50px;
        margin-left: 95px ;
        text-decoration: none;
        letter-spacing: 2px;
        color: black;
        background-color: #ffc80a;
        font-size: 18px;
        padding: 14px 28px;
        border-radius: 8px;


    }

}
.child-5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #f7f8f9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   
}
    
.img-3{
    width: 150%;
    
    position: relative;
    left: 38%;
}
.content-3 h3{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 20px;


}
.lnk{
    text-decoration: none;
    margin-top: 20px; 
    color: #27b9c2;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;

}
.child-6{
    background-color: #93b6b7;
    color: white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 30px;
    position: relative;

}
.choice{
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 2px 15px;
    border-radius: 5px;
    background-color: tomato;
    font-size: 13px;
    font-weight: 400;
}
.heading-4{
    font-size: 30px;
    font-weight: 400;
    margin: auto;
    




}
.imag-4{
     width: 240%; 
    position: relative;
    left: 60%;
   display: block;
   margin-top: 10px;
}
.child-7{

     grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5; 
    background-color: #38d5f4;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  
 
  


}
.twitter-icon{
    position: relative;
    left: -38%;
    width: 20%;
    display: inline-block;
    margin-bottom: 10%;
    
}


.child-8{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.badge{
    margin-bottom: 5%;
    background-color: #7bc424;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.heading-6{
    /* font-size: 20px; */
    font-weight: 400;
    line-height: 35px;
}
.child-9{
    background-color: black;
    color: white;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;


}
 .tv{
    width: 65%;
}
 .heading-7{ 
    margin-right: 20%;
} 


/* الأساسيات العامة */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

/* التصميم للشاشات الكبيرة (لابتوب) - العرض أكبر من 1024px */
.parent {
    background-color: tomato;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 25%;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
}

/* باقي الأنماط الحالية تبقى كما هي */

/* نقطة توقف للآيباد (عرض بين 768px و 1024px) */
@media (max-width: 1024px) {
    .parent {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
    }

    .flex-parent {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .child-1 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .child-2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .child-3 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .child-4 {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    .child-5 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    .child-6 {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    .child-7 {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    .child-8 {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }

    .child-9 {
        grid-column: 1 / 3;
        grid-row: 7 / 8;
    }

    /* تعديلات أخرى للآيباد */
    .txt h2, .heading, .heading-3, .heading-4, .heading-6 {
        font-size: 1.5rem;
    }

    .flex-parent, .child-3 {
        flex-direction: column;
        padding: 20px;
    }

    .flex-parent img {
        width: 60%;
        margin-top: 20px;
    }
}

/* نقطة توقف للموبايل (عرض أقل من 768px) */
@media (max-width: 768px) {
    .parent {
        display: flex;
        flex-direction: column;
    }

    .flex-parent, .child-1, .child-2, .child-3, 
    .child-4, .child-5, .child-6, .child-7, 
    .child-8, .child-9 {
        width: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }

    .flex-parent {
        flex-direction: column;
        text-align: center;
    }

    .txt h2, .heading, .heading-3, .heading-4, .heading-6 {
        font-size: 1.2rem;
        width: 100%;
        margin-left: 0;
    }

    .txt p, .title, .txt-2 {
        font-size: 0.9rem;
    }

    .flex-parent img, .child-2 img, .img-2, .img-3, .imag-4 {
        width: 80%;
        position: static;
        margin: 10px auto;
    }

    .left, .right {
        width: 100%;
        margin-bottom: 20px;
    }

    .right p {
        margin-left: 0;
    }

    .link, .link-yellow, .lnk, .Learn {
        margin-left: 0;
        text-align: center;
        display: block;
    }

    .flex-2 .image {
        width: 100%;
        position: static;
    }

    .child-4 h1 {
        font-size: 2rem;
    }

    .twitter-icon {
        position: static;
        width: 40px;
        margin: 10px auto;
    }

    .tv {
        width: 100%;
    }

    .heading-7 {
        margin-right: 0;
        text-align: center;
    }
}
